body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $fuente;
  margin: 0;
  padding: 0;
  background: linear-gradient($color-fondo);
  box-sizing: border-box;
 
}

.header {
  display: flex;
  align-items: center;
  background-color: $color-oscuro;
  color: $color-primario;
  padding: 15px;

  h1 {
    
    text-align: center;
    flex: 5;
  }

  a {
    text-align: center;
    background-color: $color-oscuro;
    border-radius: 20px 0px 0px 0px;
    padding: 20px;
    flex: 1;
    position: relative;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }

  a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: #00bfff;
    transition: width 0.3s ease;
  }

  a:hover {
    color: #00bfff;
  }

  a:hover::after {
    width: 100%;
  }
}

.hero {
  @include flex-center;
  height: 200px;
  background-color: $color-primario;
  color: $color-secundario;
  font-size: 26px;
}

.contenedor {
  padding: 20px;

  h2 {
    color: $color-blanco;
  }
}

.grid-planes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;


  @include responsive(768px) {
    grid-template-columns: 1fr;
  }
}

.grid-entrenadores {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;


  @include responsive(768px) {
    grid-template-columns: 1fr;
  }

}

.card {
  background-color: $color-blanco;
  padding: 20px;
  border-radius: 15px;
  text-align: center;

  h3 {
    color: $color-oscuro;
  }

  button {
    @include boton;
    color: $color-blanco;
    padding: 10px;

  }

}

.footer {
  @include flex-center;
  background-color: $color-oscuro;
  color: $color-primario;
  padding: 15px;
  margin-top: auto;
}