@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

}

@mixin boton {
  background-color: $color-terciario;
  color: $color-terciario;
  border: none;
  padding: 10ox;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;


  &:hover {
    background-color: $color-oscuro;
  }
}

@mixin responsive($size) {
  @media(max-width: $size) {
    @content
  }
}


