/* COLORES */
$color-fondo: 27deg, rgba(50, 67, 118, 1) 0%, rgba(88, 107, 164, 1) 50%;
$color-primario: #7f9cf1;
$color-secundario: #324376;
$color-terciario: #F5DD90;
$color-oscuro:black;
$color-blanco: white;
/* FUENTES */
$fuente: Verdana;